/LAB2/ex2/build/
/LAB2/ex3/nbproject/private/
/LAB2/ex3/build/
/LAB2/ex4/nbproject/private/
/LAB2/ex4/build/
/LAB2/ex5/nbproject/private/
/LAB2/ex5/build/
/LAB3/ex1/nbproject/private/
/LAB3/ex1/build/
/LAB3/ex2/nbproject/private/
/LAB3/ex2/build/
/LAB5/ex1/build/
/LAB5/ex2/nbproject/private/
/LAB5/ex3/nbproject/private/
/LAB5/ex4/nbproject/private/
/LAB5/ex4/build/
/LAB5/ex2/ComissionEmployee/build/
/LAB5/ex2/ComissionEmployee/dist/
/LAB5/ex2/ComissionEmployee/nbproject/private/
/LAB5/ex3/build/
/LAB6/ex1/nbproject/private/
/LAB6/ex2/nbproject/private/
/LAB6/ex3/nbproject/private/
/LAB6/ex4/nbproject/private/
/LAB6/ex1/build/
